{% extends 'base.html' %}

{% block content %}

<div class="profile-card">

    <h1>
        Личный кабинет
    </h1>

    <br>

    <p>
        <strong>Имя:</strong>
        {{ request.user.first_name }}
    </p>

    <br>

    <p>
        <strong>Телефон:</strong>
        {{ request.user.profile.phone }}
    </p>

    <br><br>

    <a href="{% url 'ad_create' %}" class="btn">
        Создать объявление
    </a>

</div>

<br><br>

<h1 class="page-title">
    Мои объявления
</h1>

<div class="ads-grid">

    {% for ad in ads %}

        <div class="ad-card">

            <a href="{% url 'ad_detail' ad.pk %}">

                <div class="ad-image">

                    {% if ad.image %}

                        <img src="{{ ad.image.url }}">

                    {% else %}

                        <img src="https://via.placeholder.com/300x250">

                    {% endif %}

                </div>

            </a>

            <div class="ad-content">

                <h2 class="ad-title">
                    {{ ad.title }}
                </h2>

                {% if ad.price %}

                    <div class="ad-price">
                        {{ ad.price }} ₽
                    </div>

                {% endif %}

                <div class="ad-category">
                    {{ ad.category.name }}
                </div>

                <p>

                    Статус:

                    {% if ad.is_active %}

                        <strong>
                            Активно
                        </strong>

                    {% else %}

                        <strong>
                            Неактивно
                        </strong>

                    {% endif %}

                </p>

                <br>
                
                <div class="ad-actions">
                    <a
                        href="{% url 'toggle_ad' ad.pk %}"
                        class="btn"
                    >

                        {% if ad.is_active %}
                            Выключить
                        {% else %}
                            Включить
                        {% endif %}

                    </a>

                    <a
                        href="{% url 'ad_edit' ad.pk %}"
                        class="btn"
                    >
                        Редактировать
                    </a>

                    <a
                        href="{% url 'ad_delete' ad.pk %}"
                        class="btn"
                        style="margin-top: 10px; position: center;"
                    >
                        Удалить
                    </a>
                </div>

            </div>

        </div>

    {% empty %}

        <p>
            У вас пока нет объявлений
        </p>

    {% endfor %}

</div>

{% endblock %}